body {
    width: 80%;
    margin: 1% auto;
    background: linear-gradient(to left, #753611, #101010);
}
/* контейнер просто содержит узлы.
 Узел сам будет отвечать за свой отступ */
.Container {
        padding: 0;
        margin: 0;
}
 
.Container li {
        list-style-type: none; /* убрать кружочки/точечки */
}

/* узел отодвинут от левой стенки контейнера на 18px
    благодаря этим отступам вложенные узлы формируют иерархию
 */
.Node {
    margin-left: 18px;
    zoom: 1; /* спецсвойство против багов IE6,7. Ставит hasLayout */
}
 
/* Корневой узел от родительского контейнера не отодвинут.
   Ему же не надо демонстрировать отступом, чей он сын.
   Это правило идет после .Node, поэтому имеет более высокий приоритет
   Так что class="Node IsRoot" дает margin-left:0
*/
.IsRoot {
    margin-left: 0;
}

/* иконка скрытого/раскрытого поддерева или листа
    сами иконки идут дальше, здесь общие свойства
 */
.Expand {
    width: 18px;
    height: 18px;
    /* принцип двухколоночной верстки. */
    /* float:left и width дива Expand + margin-left дива Content */
    float: left;
    margin:2px 10px;
}
 
/* содержание (заголовок) узла */
 .Content {
    /* чтобы не налезать на Expand */
    margin-left:18px;
    /* высота заголовка - как минимум равна Expand
        Т.е правая колонка всегда выше или равна левой.
        Иначе нижний float будет пытаться разместиться на получившейся ступеньке
    */   
    min-height: 18px;
    margin: 3px;
    border: 2px double #e2dd40; 
    border-radius:15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: pointer;
}
 
 /* все правила после * html выполняет только IE6 */
* html .Content {
    height: 18px; /* аналог min-height для IE6 */
}

.Content {
    width: 200px;    
}

#c-144 {
    min-height: 18px;
    width: 50px;
    padding: 3px;
    text-align: center;
    margin: 3px auto;
    border: 2px double #e2dd40; 
    border-radius:15px;
    background: yellow;
}

/* открытое поддерево */
.ExpandOpen .Expand { 
    background-image: url(img/minus.png); 
}
 
/* закрытое поддерево */
.ExpandClosed .Expand {
    background-image: url(img/plus.png);
}
 
/* лист */
.ExpandLeaf .Expand {
    background-image: url(img/leaf.png);
}

.Node {
    margin-left: 25px;
    zoom: 1;
    /* линия слева образуется повторяющимся фоновым рисунком */
    background-image : url(img/i.png);
    background-position : top 3px left 10px;
    background-repeat : repeat-y;
}

/* это правило - ниже .Node, поэтому имеет больший приоритет */
.IsLast {
    /* добавить соединительную черточку наверх */
    background-image: url(img/i_half.gif);
    background-repeat : no-repeat;
}

.ExpandOpen .Container {
    display: block;
}
 
.ExpandClosed .Container {
    display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
    cursor: pointer; /* иконки скрытия-раскрытия */
}
 
.ExpandLeaf .Expand {
    cursor: auto; /* листовой узел */
}

.ExpandLoading   {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(img/expand_loading.gif);
}

@font-face {
    font-family: "Jokerman LET Plain:1.0";
    src: url(font/Jokerman-1.ttf);
}

header {
    width: 70%;
    border: 4px solid #8e5419;
    border-radius:20px;
    background: linear-gradient(to top, #ffffff, #fd8000, #380505);
    font-family: "Jokerman LET Plain:1.0";
    font-size: 25px;
    color: white;
    text-shadow: 1px 2px 54px red, 0px 1px 2em #ff8200;
    text-align: center;
    margin: 2px auto;
}

article {
    float: left;
    width: 60%;
    height: 704px;
    padding: 0px;
    text-align: center;
    border: 4px solid #ff8100;
    border-radius:7px;
    margin: 2px;
    background-color: #fc9d6f;
}

aside {
    float:left;
    width: 30%;
    height: 700px;
    border: 4px solid #ff8100;
    border-radius:7px;
    margin: 2px;
    padding: 2px;
    background: linear-gradient(to left, #fbb186, #ea9360);
    overflow: auto;
}

section {
    width: 7%;
    float: left;
    margin: 0%;
    text-align: center;
    height: 704px;
    border: 4px solid #ff8100;
    border-radius:7px;
    background: linear-gradient(to left, #fbb186, #ea9360);
}

#Root {
    padding: 2px;
    margin-left: 0px;
    /*position: relative;*/
    /*left: -25px;*/
}

#center {
    margin: 2%;
    width: 96%;
    height: 590px;
    overflow: auto;
}

p {
    height: 67px;
    width: 100%;
    margin: 0%;
    float: left;
    overflow: auto; 
}

h4 {
    color: #f58a00;
    text-align: right; 
    margin: 0px;
}

h3 {
    margin: 5px;
}

#dmy {
    text-align: left;
    width: 32%;
    float: left;
    margin: 0px;
}

span {
    /*margin: 30px;*/
    display: block;
    text-align: center;
}

img {
    /*max-width: 100%;*/
    /*max-height: 100%;*/
    height: 100%;
    width: 100%; 
    background-size: 100% 100%;
}

/*~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o*/

@media screen and (max-width: 1770px) {
    body {
        width: 90%;
    }

    article {
        width: 59%;
    }

    aside {
        width: 27%;
    }

    section {
        width: 10%;
    } 

    h4 {
        margin-right: 15px;
    }

    h3 {
        font-size: 1.1em;
    }
}

/*~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o*/

@media screen and (max-width: 1060px) {
    body {
        width: 90%;
    }

    .Content {
        /*width: 200px;*/
        min-height: 30px;  
    }

    article {
        float: none;
        width: 69%;
        margin: 2px auto;
        height: 590px;
    }

    section {
        float: none;
        margin: 2px auto;
        width: 69%;
        height: 60px;
    } 

    aside {
        float: none;
        width: 69%;
        margin: 2px auto;
        height: 400px;

    }

    #center {
        height: 467px;
    }

    header {
        font-size: 20px;
    }

    h4 {
        margin-right: 135px;
    }

    #dmy {
        margin-left: 135px;
    }
}
/*~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o*/

@media screen and (max-width: 900px) {
    #dmy {
        margin-left: 118px;
    }

    h4 {
        margin-right: 118px;
    }
}

/*~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o*/

@media screen and (max-width: 800px) {

    header {
        font-size: 17px;
        width: 75%;
    }

    article {
        width: 75%;
        margin: 2px auto;
    }

    aside {
        width: 75%;
        height: 400px;
    }

    section {
        width: 75%;
    } 

    h4 {
        margin-right: 118px;
    }

    #dmy {
        margin-left: 110px;
    }
}

/*~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o~~~o*/

@media screen and (max-width: 700px) {

    body {
        width: 90%;
    }

    header {
        font-size: 17px;
        width: 80%;
    }

    .Content {
        min-height: 44px;  
    }

    article {
        float: none;
        width: 80%;
        margin: 2px auto;
        height: 490px;
    }

    aside {
        float: none;
        width: 80%;
        margin: 2px auto;
        height: 400px;
    }

    section {
        width: 80%;
    } 

    #center {
        height: 360px;
    }

    h4 {
        margin-right: 0;
        float: none;
        text-align: center;
    }

    #dmy {
        margin-left: 0;
        float: none;
        text-align: center;
        width: 100%;
    }

}